@import 'tailwindcss';

/*--------------------------*\
|          Base           |
\*--------------------------*/

@layer base {
  a,
  img,
  picture,
  button {
    @apply block;
  }
  button {
    @apply cursor-pointer;
  }
  button,
  a {
    @apply select-none active:scale-95 duration-150;
  }
  input,
  textarea {
    @apply block
    outline-none
    bg-transparent
    w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }
  section {
    @apply mb-8 md:mb-16;
  }
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-gray-700 bg-white;
  }
  :focus-visible {
    @apply outline-2 outline-blue-400;
  }
  .container {
    @apply mx-auto px-4 md:px-8 lg:px-26;
  }
  ::-webkit-scrollbar {
    @apply w-2
    h-2
    rounded-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500
    rounded-full;
  }
}

/*--------------------------*\
|          COMPONENTS           |
\*--------------------------*/

@layer components {
  /** Text Field  **/
  .text-field-label {
    @apply block mb-2 text-sm font-medium text-gray-700;
  }
  .text-field {
    @apply w-full p-2 border-gray-300 rounded-md transition border-2 focus:border-blue-500;
  }
  /**
  * Button
  */
  .btn {
    @apply rounded-lg flex items-center justify-center gap-4;
  }
  .btn.md {
    @apply h-10 px-4;
  }
  .btn.sm {
    @apply h-8 px-2 text-xs;
  }
  .btn.filled.primary {
    @apply bg-blue-600 text-white hover:bg-blue-500 active:bg-blue-700;
  }
  .btn.filled.secondary {
    @apply bg-white text-gray-800;
  }
  .btn.filled.danger {
    @apply bg-red-500 text-white;
  }

  .btn-icon {
    @apply w-10 h-10 flex items-center justify-center rounded-lg;
  }
  .btn-icon.filled.primary {
    @apply bg-blue-600 text-white;
  }
  .btn-icon.filled.secondary {
    @apply bg-white text-black;
  }
  .btn-icon.text.primary {
    @apply text-blue-600;
  }
  .btn-icon.text.secondary {
    @apply text-black;
  }

  /* Navbar */

  .navbar {
    @apply absolute top-full mt-6 right-0 min-w-40 p-2 bg-blue-100/90 rounded-lg z-10 ring-inset ring-1 ring-zinc-50/5 scale-90 isolate opacity-0 invisible
    transition-[opacity,transform,filter,scale,visibility] lg:static lg:mt-0 lg:opacity-100 lg:visible  lg:scale-100 backdrop-blur-2xl;
  }

  .navbar.active {
    @apply opacity-100 scale-100 visible;
  }

  /** Nav Link  **/
  .nav-link {
    @apply text-gray-700 hover:text-blue-600 transition px-3 py-2 rounded-md text-sm font-medium whitespace-nowrap;
  }
  /**  Active Nav Link  **/

  .nav-link.active {
    @apply text-white duration-500 bg-blue-600;
  }

  /** Category Card  **/
  .category-card {
    @apply p-4 rounded-xl bg-gray-200 flex items-center gap-2;
  }
  .category-card .category-title {
    @apply font-medium text-gray-600;
  }
  /** Info Card  **/
  .info-card {
    @apply rounded-lg;
  }

  /** Product Card  **/
  .product-card {
    @apply rounded-lg relative bg-gray-100;
  }
  .product-content {
    @apply p-4;
  }

  .product-title {
    @apply font-medium text-xl text-gray-700;
  }
  .product-description {
    @apply text-sm text-gray-600 line-clamp-2;
  }
  .product-price {
    @apply block text-lg font-semibold mt-3;
  }

  .product-card .badge {
    @apply absolute top-4 left-4 bg-blue-600 text-white text-xs px-2 py-1 rounded-md;
  }
  /** Cart DropDown  **/
  .cart-dropdown {
    @apply absolute top-full right-4 md:right-8 lg:right-26 mt-6 w-[calc(100%-2rem)] max-w-[450px] bg-white flex flex-col border border-gray-200 rounded-lg z-10 p-4 shadow-lg min-h-50 scale-90 isolate opacity-0 invisible
    transition-[opacity,transform,filter,scale,visibility];
  }
  .cart-dropdown.active {
    @apply opacity-100 scale-100 visible;
  }
  /** Modal **/
  .modal {
    @apply fixed left-1/2 -translate-x-1/2 p-4 rounded-lg bg-white z-50 w-[calc(100%-32px)] max-w-[450px];
  }

  /* Accordion Item */
  .accordion-item {
    @apply border border-gray-200 rounded-lg overflow-hidden;
  }

  .accordion-header {
    @apply bg-gray-100 p-4 cursor-pointer font-semibold flex justify-between items-center gap-3 w-full text-left;
  }
  .accordion-header:active {
    @apply scale-100;
  }

  .accordion-body {
    @apply max-h-0 overflow-hidden transition-[max-height] duration-500;
  }

  .accordion-item.active .accordion-body {
    @apply max-h-32;
  }

  .accordion-content {
    @apply p-4 text-gray-600 border-t border-gray-200;
  }
}

/*--------------------------*\
|          Utilities           |
\*--------------------------*/
@layer utilities {
  .img-box {
    @apply overflow-hidden;
  }
  .img-cover {
    @apply w-full h-full object-cover;
  }
}
