@import 'tailwindcss';

/*--------------------------*\
|          Base           |
\*--------------------------*/

@layer base {
  a,
  img,
  picture,
  button {
    @apply block;
  }
  button {
    @apply cursor-pointer;
  }
  button,
  a {
    @apply select-none active:scale-95 duration-150;
  }
  input,
  textarea {
    @apply block
    outline-none
    bg-transparent
    w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }
  section {
    @apply mb-8 md:mb-16;
  }
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-gray-700 bg-white;
  }
  :focus-visible {
    @apply outline-2 outline-blue-400;
  }
  .container {
    @apply mx-auto px-4 md:px-8 lg:px-26;
  }
  ::-webkit-scrollbar {
    @apply w-2
    h-2
    rounded-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500
    rounded-full;
  }
}

/*--------------------------*\
|          COMPONENTS           |
\*--------------------------*/

@layer components {
  /** Text Field  **/
  .text-field-label {
    @apply block mb-2 text-sm font-medium text-gray-700;
  }
  .text-field {
    @apply w-full p-2 border-gray-300 rounded-md transition border-2 focus:border-blue-500;
  }
  /**
  * Button
  */
  .btn {
    @apply rounded-lg flex items-center justify-center gap-4;
  }
  .btn.md {
    @apply h-10 px-4;
  }
  .btn.sm {
    @apply h-8 px-2 text-xs;
  }
  .btn.filled.primary {
    @apply bg-blue-600 text-white hover:bg-blue-500 active:bg-blue-700;
  }
  .btn.filled.secondary {
    @apply bg-white text-gray-800;
  }
  .btn.filled.danger {
    @apply bg-red-500 text-white;
  }

  .btn-icon {
    @apply flex items-center justify-center rounded-lg;
  }
  .btn-icon.lg {
    @apply w-12 h-12;
  }
  .btn-icon.md {
    @apply w-10 h-10;
  }
  .btn-icon.sm {
    @apply w-8 h-8;
  }
  .btn-icon.filled.primary {
    @apply bg-blue-600 text-white;
  }
  .btn-icon.filled.secondary {
    @apply bg-white text-black;
  }
  .btn-icon.text.primary {
    @apply text-blue-600;
  }
  .btn-icon.text.secondary {
    @apply text-black;
  }

  /* Navbar */

  .navbar {
    @apply p-4 lg:p-2 absolute top-0 right-0 h-dvh w-full max-w-[340px] bg-white rounded-l-xl z-20 translate-x-full opacity-0 invisible transition-[transform_opacity_visibility] duration-300 lg:relative lg:top-auto lg:right-auto lg:h-auto lg:w-auto lg:max-w-none lg:translate-x-0 lg:opacity-100 lg:visible lg:transition-none
    lg:bg-blue-100/90 lg:rounded-lg lg:scale-90 lg:justify-self-center;
  }
  .navbar .navbar-list {
    @apply mt-4 pt-4 border-t border-gray-200 lg:flex lg:items-center lg:mt-0 lg:pt-0;
  }
  .navbar.active {
    @apply translate-x-0 opacity-100 visible;
  }
  /** Nav Link  **/
  .nav-link {
    @apply text-gray-700 hover:text-blue-600 transition px-3 py-2 rounded-xl text-sm font-medium whitespace-nowrap;
  }
  /**  Active Nav Link  **/

  .nav-link.active {
    @apply text-white duration-300 bg-blue-600;
  }

  /** Search View **/
  .search-view {
    @apply fixed top-0 left-0 h-dvh h-svh w-full z-50 bg-white
        opacity-0 invisible 
        [clip-path:circle(4%_at_calc(100%-102px)_5%)] 
        transition-[clip-path,opacity,visibility] 
        overflow-y-auto
        duration-500
        xl:relative 
        xl:w-80 
        xl:h-auto
        xl:opacity-100 
        xl:visible
        xl:[clip-path:none]
        xl:overflow-y-visible
        xl:transition-none;
  }

  .search-view.active {
    @apply opacity-100 visible [clip-path:circle(130%_at_73%_5%)];
  }
  .search-wrapper {
    @apply relative border-b border-b-gray-300 xl:border-none;
  }
  .search-field {
    @apply h-18 leading-18 pl-14 pr-10 placeholder:text-gray-500 xl:h-10 xl:leading-normal xl:rounded-xl xl:border-2 xl:border-gray-200 xl:pl-10 xl:transition-colors xl:focus:border-blue-600;
  }
  .search-field::-webkit-search-cancel-button {
    @apply hidden;
  }
  .search-view .view-list {
    @apply p-3 xl:absolute xl:left-0 xl:top-[calc(100%+18px)] xl:w-full xl:z-10 xl:bg-white xl:rounded-xl xl:border xl:border-gray-200 xl:max-h-96 overflow-y-auto;
  }
  .search-view .view-item {
    @apply h-12 flex justify-between items-center gap-2 px-4
    rounded-lg focus:scale-100 duration-200 hover:bg-blue-50;
  }
  /** Category Card  **/
  .category-card {
    @apply p-4 rounded-xl bg-gray-200 flex items-center gap-2;
  }
  .category-card .category-title {
    @apply font-medium text-gray-600;
  }
  /** Info Card  **/
  .info-card {
    @apply rounded-lg;
  }

  /** Product Card  **/
  .product-card {
    @apply rounded-lg relative bg-gray-100;
  }
  .product-content {
    @apply p-4;
  }

  .product-title {
    @apply font-medium text-xl text-gray-700;
  }
  .product-description {
    @apply text-sm text-gray-600 line-clamp-2;
  }
  .product-price {
    @apply block text-lg font-semibold mt-3;
  }

  .product-card .badge {
    @apply absolute top-4 left-4 bg-blue-600 text-white text-xs px-2 py-1 rounded-md;
  }
  /** Cart DropDown  **/
  .cart-dropdown {
    @apply absolute top-full right-4 md:right-8 lg:right-26 mt-6 w-[calc(100%-2rem)] max-w-[450px] bg-white flex flex-col border border-gray-200 rounded-lg z-10 p-4 shadow-lg min-h-50 scale-90 isolate opacity-0 invisible
    transition-[opacity,transform,filter,scale,visibility];
  }
  .cart-dropdown.active {
    @apply opacity-100 scale-100 visible;
  }
  /** Modal **/
  .modal {
    @apply fixed left-1/2 -translate-x-1/2 p-4 rounded-lg bg-white z-50 w-[calc(100%-32px)] max-w-[450px];
  }

  /* Accordion Item */
  .accordion-item {
    @apply border border-gray-200 rounded-lg overflow-hidden;
  }

  .accordion-header {
    @apply bg-gray-100 p-4 cursor-pointer font-semibold flex justify-between items-center gap-3 w-full text-left;
  }
  .accordion-header:active {
    @apply scale-100;
  }

  .accordion-body {
    @apply max-h-0 overflow-hidden transition-[max-height] duration-500;
  }

  .accordion-item.active .accordion-body {
    @apply max-h-32;
  }

  .accordion-content {
    @apply p-4 text-gray-600 border-t border-gray-200;
  }
}

/*--------------------------*\
|          Utilities           |
\*--------------------------*/
@layer utilities {
  .img-box {
    @apply overflow-hidden;
  }
  .img-cover {
    @apply w-full h-full object-cover;
  }
  .all-unset {
    all: unset;
  }
}
